*.egg-info
.venv/
tests/*project*/Debug/
tests/*project*/build/
tests/*project*/.settings/
tests/*project*/makefile
tests/*project*/Makefile

# you may re-activate drivers ignore but ONLY LCOALLY
# tests/*project*/Drivers/

.mypy_cache/
.pytest_cache/
package-lock.json
__pycache__
