name: Test cube_make Action

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-action:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Generate Makefile for stm32_project_g030 using action
      uses: ftobler/cube_make@v1
      with:
        project_path: ./tests/stm32_project_g030

    - name: Build stm32_project_g030
      run: |
        cd tests/stm32_project_g030
        make

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: stm32_project_g030_build_${{ matrix.os }}_${{ matrix.python-version }}
        path: tests/stm32_project_g030/build
        retention-days: 3

    - name: Generate Makefile for stm32_project_l412 using action
      uses: ftobler/cube_make@v1
      with:
        project_path: ./tests/stm32_project_l412

    - name: Build stm32_project_l412
      run: |
        cd tests/stm32_project_l412
        make

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: stm32_project_l412_build_${{ matrix.os }}_${{ matrix.python-version }}
        path: tests/stm32_project_l412/build
        retention-days: 3